*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}
#area-cabecalho{
    padding: 0.9rem;
    background-color: #6b0079;
    text-align: center;
    text-decoration: #fff;

}

#area-logo, #area-menu{
    padding: 0.7rem;
    background-color: #6b0079;
    text-align: center;
    color:#fff;
}
.logo-branco{
    color: aqua;

}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 10px ;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: #c376f0;

    
}
.postagem{
    padding: 1rem;
    background-color: #e2bce6;
   
}
.postagem-imagem{
    width: 39rem;
}

.postagem-titulo{
    background-color:#6b0079;
    color:#fff
}

.postagem-data{
    font-size: 0.8rem;
    display: block;
    padding-bottom: 0.8rem;
}



header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30PX 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo{
    position: relative;
    color:#000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #000;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding:2px 15px ;
    border-radius: 20px;
}

header .navegation a:not(:last-child){
margin-right: 30px;

}

header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: aqua;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color:#fff ;
    font-size: 50px;
    font-weight: 600;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background: #7c0dbd;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3;
    transition-property:background ;
}

.content .info-btn:hover{
    background: #7c0dbd;
}
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3;
    transition-property: transform;
}
.media-icons a{
     position: relative;
     color: #fff;
     font-size: 25px;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);

}
